<% provide(:title, 'マイページ') %>
<div class="container-2">
  <div class="row-2">
    <section class="profile col-sm-12 container-square">
      <div class="row-2">
        <div class="col-sm-1 col-xs-2 avatar">
            <%= image_tag @user.image_name.to_s %>
        </div>
        <div class="col-xs-10 profile-name">
          <h3><%= @user.name %></h3>
        </div>
      </div><br>
      <div class="profile-description">
        <%= @user.description %>
      </div><br>
      <div class="stats">
        <a class="decoration-none">
          <strong class="stat">
            <%= @user.tweets.count %>
          </strong>
          投稿数
        </a>
        <%= link_to followers_user_path(@user.id) do %>
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          フォロワー
        <% end %>
        <%= link_to followings_user_path(@user.id) do %>
          <strong id="following" class="stat">
            <%= @user.followings.count %>
          </strong>
          フォロー
        <% end %>
      </div><br><br>
      <% if user_signed_in? && @user.id == current_user.id %>
        <div class="follow-form">
          <%= link_to "プロフィール編集", edit_user_path(current_user.id), class:'btn-flat-border' %>
          <%= link_to "DM一覧", rooms_path, class:'btn-flat-border' %>
        </div>
      <% else %>
        <div class="follow-form">
          <%= render 'relationships/follow_button', user: @user %>
          <% if (current_user.following? @user) && (@user.following? current_user) %>
          <% if @isRoom == true %>
            <p><%= link_to "DMを送る", room_path(@roomId), class:'btn-flat-border' %>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, :value=> @user.id %>
              <% end %>
              <%= f.submit "DMを送る", class:"btn-flat-border" %>
            <% end %>
          <% end %>
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
  <% if @tweets.length > 0 %>
  <div class="container-square-2">
  <h3 class="follow-title">投稿一覧</h3>
    <div class="post-wrapper row-2">
      <section>
        <% @tweets.each do |tweet| %>
          <div class="tweet">
            <div class="flex">
              <%= image_tag tweet.user.image_name.to_s ,class: "own" %>
              <h4><%= link_to "#{tweet.user.name}", tweet.user %></h4>
              <p class="date"><%= tweet.created_at.to_s(:datetime_jp) %></p>
            </div>
            <div class="flex contents">
              <p class="text"><%= tweet.body %></p>
              <% if tweet.image.to_s.present? %>
                <%= image_tag tweet.image.to_s ,width: '240px' ,height: '140px' %>
              <% end %>
            </div>
            <% if user_signed_in? && @user.id != current_user.id %>
              <p class="text-2"><%= link_to "コメントする", tweet ,class: "flex contents" %></p>
            <% else %>
            <div class="flex contents">
              <p class="text-2"><%= link_to "コメントを見る", tweet %>・
              <%= link_to "投稿を削除する", tweet_path(tweet.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></p>
            </div>
            <% end %>
          </div>
        <% end %>
      </section>
      <%= link_to '/tweets/new', class: 'btn btn-success upload-btn' do %>
        <i class="fas fa-pencil-alt"></i> 投稿
      <% end %>
    </div>
  </div>
  <% else %>
    <div class="mypage-space"></div>
    <%= link_to '/tweets/new', class: 'btn btn-success upload-btn' do %>
      <i class="fas fa-pencil-alt"></i> 投稿
    <% end %>
  <% end %>
</div>
